<div id="matches" ng-show="showTab">
	<h2>Match History</h2>
	<ul id="matches-list">
		<li	ng-repeat="match in newGames | orderBy:'matchCreation':true track by $index ">
			<div class="match id_{{ match.id }}" ng-class="(match.stats.win == 1) ? 'win' : 'loss'">

				<div class="topRow">
					<div class="queue box">{{ match.queueType | subTypeFilter }}</div>
					<div class="time box">{{ match.matchCreation | date:'MM/dd/yy h:mm a' }}</div>
					<div class="game-win box" ng-show="match.stats.win">Win</div>
					<div class="game-win box" ng-hide="match.stats.win">Loss</div>
				</div>

				<div class="midRow">
					<div class="championImages">
						<img class="championImage" alt="{{ match.champion == null ? 'champion' : match.champion.name }}"
							ng-src="{{ match.champion == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + match.champion.champion.image.full }}">
						<div class="championLevel">{{ match.stats.level }}</div>
						<div class="summonerSpells">
							<img class="summonerSpell spell1" alt="{{ match.spell1 == null ? 'summoner spell 1' : match.summSpell1.name }}"
								ng-src="{{ match.spell1 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + match.spell1.image.full }}">
							<br>
							<img class="summonerSpell spell2" alt="{{ match.spell2 == null ? 'summoner spell 2' : match.summSpell2.name }}"
								ng-src="{{ match.spell2 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + match.spell2.image.full }}">
						</div>
					</div>

					<div class="rightStatsBox">
						<div class="scorePanel">
							<div class="score box">{{ match.stats.championsKilled }}/{{ match.stats.numDeaths }}/{{ match.stats.assists }}</div>
							<div class="kda box">(KDA: {{ match.stats.numDeaths === 0 ? '---' : ((match.stats.championsKilled + match.stats.assists) / match.stats.numDeaths | number:2) }})</div>
						</div>
						<div class="gold box">Gold: 
							{{ (match.stats.goldEarned / 1000) | number:0 }}.{{ (match.stats.timePlayed % 1000) / 100 | number:0 }}k</div>
						<div class="cs box">CS: {{ match.stats.minionsKilled + match.stats.neutralMinionsKilled }}</div>
						<div class="matchLength box">Game Length: 
							{{ match.stats.timePlayed / 60 | number:0 }}:{{ (match.stats.timePlayed % 60) | numberFixedLen:2 }}</div>
						<div class="multikill box">{{ match.stats.largestMultiKill | multikill }}</div>
						<div class="firstBlood box">{{ match.stats.firstBlood === 1 ? 'First Blood' : '' }}</div>
					</div>
				</div>

				<div class="bottomRow">
					<div class="items">
						<img class="item" ng-repeat="item in match.items" ng-src="{{ item == null || item.image == null ? 'img/item_0.png' :
							item.image.full == 'item_removed.png' ? 'img/item_removed.png' :
							'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + item.image.full }}">
					</div>
					
					<div class="expandMatchButton">
						<button class="expandButton" ng-click="expandMatch(match, summoner)">Details</button>
					</div>
				</div>
				
				<div class="expandMatch" ng-show="match.showExpand">
					<div class="expandTitle">Match Details</div>
						<ul class="expandPlayers">
							<div class="team blue">
								<div class="teamTitle">
									Blue Team ({{ (match.teamId === 100 && match.stats.win || match.teamId === 200 && !match.stats.win) ? "WIN" : "LOSS" }})
								</div>
								<li ng-repeat="player in match.blueTeam | unique: 'summoner.id'">
									<a class="playerInfo" ng-href="#{{ player.summoner.id }}">
										{{ player.summoner.name }}
										<img class="playerChampionImage" alt="{{ (player == null || player.champion == null) ? 'champion' : player.champion.name }}"
											ng-src="{{ (player == null || player.champion == null) ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + player.champion.image.full }}">
									</a> 								
								</li>
							</div>
							<div class="team red">
								<div class="teamTitle">
									Purple Team ({{ (match.teamId === 200 && match.stats.win || match.teamId === 100 && !match.stats.win) ? "WIN" : "LOSS" }})
								</div>
								<li ng-repeat="player in match.redTeam | unique: 'summoner.id'">
									<a class="playerInfo" ng-href="#{{ player.summoner.id }}">
										<img class="playerChampionImage" alt="{{ (player == null || player.champion == null) ? 'champion' : player.champion.name }}"
											ng-src="{{ (player == null || player.champion == null) ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + player.champion.image.full }}">
										{{ player.summoner.name }}
									</a> 								
								</li>
							</div>
						</ul>
					
					<div class="moreMatchStats">
						<div class="damageGraph total" ng-mouseover="showHoverText1 = false" ng-mouseout="showHoverText1 = true" ng-init="showHoverText1 = true">
							<div class="textOverlay">
								Damage dealt - {{ match.stats.totalDamageDealt }} {{ showHoverText1 ? '(hover for details)' : '' }}
							</div>
							<img class="damage physical" src="img/damage_physical.png" 
								ng-attr-title="Physical: {{ match.stats.physicalDamageDealtPlayer }} ({{ match.stats.physicalDamageDealtPlayer / match.stats.totalDamageDealt * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.stats.physicalDamageDealtPlayer / match.stats.totalDamageDealt * 100) + '%' }">
							<img class="damage magic" src="img/damage_magic.png" 
								ng-attr-title="Magic: {{ match.stats.magicDamageDealtPlayer }} ({{ match.stats.magicDamageDealtPlayer / match.stats.totalDamageDealt * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.stats.magicDamageDealtPlayer / match.stats.totalDamageDealt * 100) + '%' }">
							<img class="damage true" src="img/damage_true.png" 
								ng-attr-title="True: {{ match.stats.trueDamageDealtPlayer }} ({{ match.stats.trueDamageDealtPlayer / match.stats.totalDamageDealt * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.stats.trueDamageDealtPlayer / match.stats.totalDamageDealt * 100) + '%' }">
						</div>
						<div class="damageGraph champs" ng-mouseover="showHoverText2 = false" ng-mouseout="showHoverText2 = true" ng-init="showHoverText2 = true">
							<div class="textOverlay">
								Damage dealt to champions - {{ match.stats.totalDamageDealtToChampions }} {{ showHoverText2 ? '(hover for details)' : '' }}
							</div>
							<img class="damage physical" src="img/damage_physical.png" 
								ng-attr-title="Physical: {{ match.stats.physicalDamageDealtToChampions }} ({{ match.stats.physicalDamageDealtToChampions / match.stats.totalDamageDealtToChampions * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.stats.physicalDamageDealtToChampions / match.stats.totalDamageDealtToChampions * 100) + '%' }">
							<img class="damage magic" src="img/damage_magic.png" 
								ng-attr-title="Magic: {{ match.stats.magicDamageDealtToChampions }} ({{ match.stats.magicDamageDealtToChampions / match.stats.totalDamageDealtToChampions * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.stats.magicDamageDealtToChampions / match.stats.totalDamageDealtToChampions * 100) + '%' }">
							<img class="damage true" src="img/damage_true.png"
								ng-attr-title="True: {{ match.stats.trueDamageDealtToChampions }} ({{ match.stats.trueDamageDealtToChampions / match.stats.totalDamageDealtToChampions * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.stats.trueDamageDealtToChampions / match.stats.totalDamageDealtToChampions * 100) + '%' }">
						</div>
						<div class="damageGraph taken"  ng-mouseover="showHoverText3 = false" ng-mouseout="showHoverText3 = true" ng-init="showHoverText3 = true">
							<div class="textOverlay">
								Damage taken - {{ match.stats.totalDamageTaken }} {{ showHoverText3 ? '(hover for details)' : '' }}
							</div>
							<img class="damage physical" src="img/damage_physical.png" 
								ng-attr-title="Physical: {{ match.stats.physicalDamageTaken }} ({{ match.stats.physicalDamageTaken / match.stats.totalDamageTaken * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.stats.physicalDamageTaken / match.stats.totalDamageTaken * 100) + '%' }">
							<img class="damage magic" src="img/damage_magic.png" 
								ng-attr-title="Magic: {{ match.stats.magicDamageTaken }} ({{ match.stats.magicDamageTaken / match.stats.totalDamageTaken * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.stats.magicDamageTaken / match.stats.totalDamageTaken * 100) + '%' }">
							<img class="damage true" src="img/damage_true.png" 
								ng-attr-title="True: {{ match.stats.trueDamageTaken }} ({{ match.stats.trueDamageTaken / match.stats.totalDamageTaken * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.stats.trueDamageTaken / match.stats.totalDamageTaken * 100) + '%' }">
						</div>
						
						<div class="expandColumn left">
							<div class="stats wardsPlaced">Wards placed: {{ match.stats.wardPlaced }}</div>
							<div class="stats wardsPlaced">Wards killed: {{ match.stats.wardKilled }}</div>
							<div class="stats cspm">CS/min: {{ (match.stats.minionsKilled + match.stats.neutralMinionsKilled) / match.stats.timePlayed * 60 | number:1 }} </div>
						</div>
						<div class="expandColumn right">
							<div class="stats killingSpreee">Largest killing spree: {{ match.stats.largestKillingSpree }}</div>
							<div class="stats jungle">Neutral minions (own|enemy): {{ match.stats.neutralMinionsKilledYourJungle }} | {{ match.stats.neutralMinionsKilledEnemyJungle }}</div>
							<div class="stats gpm">Gold/min: {{ match.stats.goldEarned / match.stats.timePlayed * 60 | number:1 }}</div>
						</div>						
					</div>
				</div>
			</div>
		</li>
	</ul>
	
	<button class="showAllButton" ng-hide="showAll" ng-click="lookupAllMatches(summoner.id)">Show all</button>
</div>