<div id="stats" class="playerStats" ng-show="showTab" ng-init="getPlayerStats();">
	<h2>Summoner Stats</h2>
	
	<div class="queueType" ng-repeat="(queueName, queueData) in playerStats">
		<h3>{{ queueName | subTypeFilter }}</h3>
	
		<table ng-init="queueData.sort='numGames'; queueData.reverse = true; queueData.lines = 5; queueData.showMore = false; queueData.showAll = false;">
			<thead>
				<tr>
					<th class="summoner" ng-click="sortBy(queueData, 'summoner')">Summoner</th>
					<th class="games" ng-click="sortBy(queueData, 'numGames')">Games</th>
					<th class="wins" ng-click="sortBy(queueData, 'wins')">Wins</th>
					<th class="losses" ng-click="sortBy(queueData, 'losses')">Losses</th>
					<th class="winrate" ng-click="sortBy(queueData, 'winrate')">Winrate</th>
					<th class="kills" ng-click="sortBy(queueData, 'kills')">Kills</th>
					<th class="deaths" ng-click="sortBy(queueData, 'deaths')">Deaths</th>
					<th class="assists" ng-click="sortBy(queueData, 'assists')">Assists</th>
					<th class="kda" ng-click="sortBy(queueData, 'kda')">KDA</th>
				</tr>
			</thead>
		
			<tbody>
				<tr ng-repeat="playerStats in queueData | orderBy:queueData.sort:queueData.reverse | limitTo:queueData.lines"
					ng-if="playerStats.category.id != summoner.id">
					<td class="summoner"><a ng-href="#{{ playerStats.category.id }}">{{ playerStats.category.name }}</a></td>
					<td class="games">{{ playerStats.numGames }}</td>
					<td class="wins">{{ playerStats.wins }}</td>
					<td class="losses">{{ playerStats.losses }}</td>
					<td class="winrate">{{ playerStats.winrate * 100 | number:0 }}%</td>
					<td class="kills">{{ playerStats.kills | number:2 }}</td>
					<td class="deaths">{{ playerStats.deaths | number:2 }}</td>
					<td class="assists">{{ playerStats.assists | number:2 }}</td>
					<td class="kda">{{ playerStats.kda | number:2 }}</td>
				</tr>
				
				<tr class="showMoreRows" ng-hide="queueData.showMore || queueData.showAll"
					ng-click="queueData.showMore = true; queueData.lines=25;">
					<td colspan="100%">(more)</td>
				</tr>
				
				<tr class="showAllRows" ng-hide="!queueData.showMore || queueData.showAll"
					ng-click="queueData.showAll = true; queueData.lines=9999;">
					<td colspan="100%">(all)</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>