<div id="matches" ng-show="showTab">
	<h2>Ranked Matches</h2>
	<ul id="ranked-history">
		<li ng-repeat="match in newRanked | orderBy:'matchCreation':true track by $index ">
			<div class="match id_{{match.id}}" ng-class="match.players[match.lookupPlayer].stats.winner ? 'win' : 'loss'">
				<div class="topRow">
					<div class="queue box">{{ match.queueType | queueFilter }}</div>
					<div class="time box">{{ match.matchCreation | date:'MM/dd/yy h:mm a' }}</div>
					<div class="game-win box" ng-show="match.players[match.lookupPlayer].stats.winner">Win</div>
					<div class="game-win box" ng-hide="match.players[match.lookupPlayer].stats.winner">Loss</div>
				</div>

				<div class="midRow">
					<div class="championImages">
						<img class="championImage" alt="{{ match.players[match.lookupPlayer] == null ? 'champion' : match.players[match.lookupPlayer].champion.name }}"
							ng-src="{{ match.players[match.lookupPlayer] == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + match.players[match.lookupPlayer].champion.image.full }}">
						<div class="championLevel">{{ match.players[match.lookupPlayer].stats.champLevel }}</div>
						<div class="summonerSpells">
							<img class="summonerSpell spell1" alt="{{ match.players[match.lookupPlayer].spell1 == null ? 'summoner spell 1' : match.players[match.lookupPlayer].spell1.name }}"
								ng-src="{{ match.players[match.lookupPlayer].spell1 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + match.players[match.lookupPlayer].spell1.image.full }}">
							<br>
							<img class="summonerSpell spell2" alt="{{ match.players[match.lookupPlayer].spell1 == null ? 'summoner spell 2' : match.players[match.lookupPlayer].spell2.name }}"
								ng-src="{{ match.players[match.lookupPlayer].spell2 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + match.players[match.lookupPlayer].spell2.image.full }}">
						</div>
					</div>
	
					<div class="rightStatsBox">
						<div class="scorePanel">
							<div class="score box">{{ match.players[match.lookupPlayer].stats.kills }}/{{ match.players[match.lookupPlayer].stats.deaths }}/{{ match.players[match.lookupPlayer].stats.assists }}</div>
							<div class="kda box">(KDA: {{ match.players[match.lookupPlayer].stats.deaths == 0 ? '--' : (match.players[match.lookupPlayer].stats.kills + match.players[match.lookupPlayer].stats.assists) / match.players[match.lookupPlayer].stats.deaths | number:2 }})</div>
						</div>
						<div class="gold box">Gold: 
							{{ (match.players[match.lookupPlayer].stats.goldEarned / 1000) | number:0}}.{{ (match.players[match.lookupPlayer].stats.timePlayed % 1000) / 100 | number:0}}k</div>
						<div class="cs box">CS: {{ match.players[match.lookupPlayer].stats.minionsKilled + match.players[match.lookupPlayer].stats.neutralMinionsKilled }}</div>
						<div class="matchLength box">Game Length: 
							{{ match.matchDuration / 60 | number:0}}:{{ (match.matchDuration % 60) | numberFixedLen:2}}</div>
						<div class="multikill box">{{ match.players[match.lookupPlayer].stats.largestMultiKill | multikill }}</div>
						<div class="firstBlood box">{{ match.players[match.lookupPlayer].stats.firstBloodKill ? 'First Blood' : '' }}</div>
					</div>
				</div>
				
				<div class="bottomRow">
					<div class="items">
						<img ng-repeat="item in match.players[match.lookupPlayer].items" class="item"
						ng-src="{{ item == null || item.image == null ? 'img/item_0.png' :
							item.image.full == 'item_removed.png' ? 'img/item_removed.png' :
							'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + item.image.full }}">
					</div>
					
					<div class="expandMatchButton">
						<button class="expandButton" ng-click="expandMatch(match, summoner)">Details</button>
					</div>
				</div>
				
				<div class="expandMatch ranked" ng-class="match.players[match.lookupPlayer].stats.winner ? 'win' : 'loss'" ng-show="match.showExpand">
					<div class="expandTitle">Match Details</div>
						<div class="rankedTeam blue">
							<div class="teamTitle">
								Blue Team ({{ match.blueTeam[0].stats.winner ? "WIN" : "LOSS" }})
							</div>
							<div class="tableHeadings">
								<div class="playerStat playerRank heading">Rank</div>
								<div class="playerStat playerLevel">Lvl</div>
								<div class="playerStat playerChampionImage"></div>
								<div class="playerStat playerSummoners"></div>
								<div class="playerStat playerName">Summoner Name</div>
								<div class="playerStat playerScore">Score</div>
								<div class="playerStat playerItems">Items</div>
								<div class="playerStat playerGold">Gold</div>
								<div class="playerStat playerCS">CS</div>
							</div>
							<ul class="expandPlayersBlue">
								<li ng-repeat="player in match.blueTeam">
									<div class="playerInfo">
										<div class="playerStat playerRank rank rank_{{ player.summoner.league == null ? 'UNRANKED' : player.summoner.league.tier }}">
											{{ player.summoner.league == null ? 'UNRANKED' : player.summoner.league.tier + ' ' + player.summoner.league.division }}
										</div>
										<div class="playerStat playerLevel">{{ player.stats.champLevel }}</div>
										<img class="playerStat playerChampionImage" alt="{{ player.champion == null ? 'champion' : player.champion.name }}"
											ng-src="{{ (player == null || player.champion == null) ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + player.champion.image.full }}">
										<div class="playerStats playerSummoners">
											<img class="playerSummoner spell1" alt="{{ player.spell1 == null ? 'summoner spell 1' : player.spell1.name }}"
												ng-src="{{ player.spell1 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + player.spell1.image.full }}">
											<img class="playerSummoner spell2" alt="{{ player.spell2 == null ? 'summoner spell 2' : player.spell2.name }}"
												ng-src="{{ player.spell2 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + player.spell2.image.full }}">
										</div>
										<a class="playerStat playerName" ng-href="#{{ player.summoner.id }}">{{ player.summoner.name }}</a>
										<div class="playerStat playerScore">{{ player.stats.kills }}/{{ player.stats.deaths }}/{{ player.stats.assists }}</div>
										<div class="playerStat playerItems">
											<img ng-repeat="item in player.items" class="playerItem" ng-src="{{ item == null || item.image == null ? 'img/item_0.png' :
												item.image.full == 'item_removed.png' ? 'img/item_removed.png' :
												'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + item.image.full }}">
										</div>
										<div class="playerStat playerGold">{{ player.stats.goldEarned / 1000 | number:1 }}k</div>
										<div class="playerStat playerCS">{{ player.stats.minionsKilled + player.stats.neutralMinionsKilled }}</div>
									</div>
								</li>
							</ul>
							<div class="teamStats">
								<div class="teamStat dragons">
									<img ng-src="img/dragon_100.png" title="Dragons">
									{{ match.teams[0].dragonKills }}
								</div>
								<div class="teamStat barons">
									<img ng-src="img/baron_nashor_100.png" title="Barons">
									{{ match.teams[0].baronKills }}
								</div>
								<div class="teamStat towers">
									<img ng-src="img/turret_100.png" title="Towers">
									{{ match.teams[0].towerKills }}
								</div>
								<div class="teamStat inhibs">
									<img ng-src="img/inhibitor_building_100.png" title="Inhibitors">
									{{ match.teams[0].inhibitorKills }}
								</div>
								
								<ul class="teamStat bans">
									Bans: 
									<li ng-repeat="ban in match.blueBans" class="banImage">
										<img ng-src="{{ 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + ban.image.full }}">									
									</li>
								</ul>
							</div>
						</div>
						<div class="rankedTeam red">
							<div class="teamTitle">
								Purple Team ({{ match.redTeam[0].stats.winner ? "WIN" : "LOSS" }})
							</div>
							<div class="tableHeadings">
								<div class="playerStat playerRank heading">Rank</div>
								<div class="playerStat playerLevel">Lvl</div>
								<div class="playerStat playerChampionImage"></div>
								<div class="playerStat playerSummoners"></div>
								<div class="playerStat playerName">Summoner Name</div>
								<div class="playerStat playerScore">Score</div>
								<div class="playerStat playerItems">Items</div>
								<div class="playerStat playerGold">Gold</div>
								<div class="playerStat playerCS">CS</div>
							</div>
							
							<ul class="expandPlayersRed">
								<li ng-repeat="player in match.redTeam">
									<div class="playerInfo">
										<div class="playerStat playerRank rank rank_{{ player.summoner.league == null ? 'UNRANKED' : player.summoner.league.tier }}">
											{{ player.summoner.league == null ? 'UNRANKED' : player.summoner.league.tier + ' ' + player.summoner.league.division }}
										</div>									
										<div class="playerStat playerLevel">{{ player.stats.champLevel }}</div>
										<img class="playerStat playerChampionImage" alt="{{ player.champion == null ? 'champion' : player.champion.name }}"
											ng-src="{{ (player == null || player.champion == null) ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + player.champion.image.full }}">
										<div class="playerStats playerSummoners">
											<img class="playerSummoner spell1" alt="{{ player.spell1 == null ? 'summoner spell 1' : player.spell1.name }}"
												ng-src="{{ player.spell1 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + player.spell1.image.full }}">
											<img class="playerSummoner spell2" alt="{{ player.spell2 == null ? 'summoner spell 2' : player.spell2.name }}"
												ng-src="{{ player.spell2 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + player.spell2.image.full }}">
										</div>
										<a class="playerStat playerName" ng-href="#{{ player.summoner.id }}">{{ player.summoner.name }}</a>
										<div class="playerStat playerScore">{{ player.stats.kills }}/{{ player.stats.deaths }}/{{ player.stats.assists }}</div>
										<div class="playerStat playerItems">
											<img ng-repeat="item in player.items" class="playerItem" ng-src="{{ item == null || item.image == null ? 'img/item_0.png' :
												item.image.full == 'item_removed.png' ? 'img/item_removed.png' :
												'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + item.image.full }}">
										</div>

										<div class="playerStat playerGold">{{ player.stats.goldEarned / 1000 | number:1 }}k</div>
										<div class="playerStat playerCS">{{ player.stats.minionsKilled + player.stats.neutralMinionsKilled }}</div>
									</div>
								</li>
							</ul>
							<div class="teamStats">
								<div class="teamStat dragons">
									<img ng-src="img/dragon_200.png" title="Dragons">
									{{ match.teams[1].dragonKills }}
								</div>
								<div class="teamStat barons">
									<img ng-src="img/baron_nashor_200.png" title="Barons">
									{{ match.teams[1].baronKills }}
								</div>
								<div class="teamStat towers">
									<img ng-src="img/turret_200.png" title="Towers">
									{{ match.teams[1].towerKills }}
								</div>
								<div class="teamStat inhibs">
									<img ng-src="img/inhibitor_building_200.png" title="Inhibitors">
									{{ match.teams[1].inhibitorKills }}
								</div>
								
								<ul class="teamStat bans">
									Bans: 
									<li ng-repeat="ban in match.redBans" class="banImage">
										<img ng-src="{{ 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + ban.image.full }}">									
									</li>
								</ul>
							</div>							
						</div>
					
					<div class="moreMatchStats">
						<div class="damageGraph total" ng-mouseover="showHoverText1 = false" ng-mouseout="showHoverText1 = true" ng-init="showHoverText1 = true">
							<div class="textOverlay">
								Damage dealt - {{ match.players[match.lookupPlayer].stats.totalDamageDealt }} {{ showHoverText1 ? '(hover for details)' : '' }}
							</div>
							<img class="damage physical" src="img/damage_physical.png" 
								ng-attr-title="Physical: {{ match.players[match.lookupPlayer].stats.physicalDamageDealt }} ({{ match.players[match.lookupPlayer].stats.physicalDamageDealt / match.players[match.lookupPlayer].stats.totalDamageDealt * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.players[match.lookupPlayer].stats.physicalDamageDealt / match.players[match.lookupPlayer].stats.totalDamageDealt * 100) + '%' }">
							<img class="damage magic" src="img/damage_magic.png" 
								ng-attr-title="Magic: {{ match.players[match.lookupPlayer].stats.magicDamageDealt }} ({{ match.players[match.lookupPlayer].stats.magicDamageDealt / match.players[match.lookupPlayer].stats.totalDamageDealt * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.players[match.lookupPlayer].stats.magicDamageDealt / match.players[match.lookupPlayer].stats.totalDamageDealt * 100) + '%' }">
							<img class="damage true" src="img/damage_true.png" 
								ng-attr-title="True: {{ match.players[match.lookupPlayer].stats.trueDamageDealt }} ({{ match.players[match.lookupPlayer].stats.trueDamageDealt / match.players[match.lookupPlayer].stats.totalDamageDealt * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.players[match.lookupPlayer].stats.trueDamageDealt / match.players[match.lookupPlayer].stats.totalDamageDealt * 100) + '%' }">
						</div>
						<div class="damageGraph champs" ng-mouseover="showHoverText2 = false" ng-mouseout="showHoverText2 = true" ng-init="showHoverText2 = true">
							<div class="textOverlay">
								Damage dealt to champions - {{ match.players[match.lookupPlayer].stats.totalDamageDealtToChampions }} {{ showHoverText2 ? '(hover for details)' : '' }}
							</div>
							<img class="damage physical" src="img/damage_physical.png" 
								ng-attr-title="Physical: {{ match.players[match.lookupPlayer].stats.physicalDamageDealtToChampions }} ({{ match.players[match.lookupPlayer].stats.physicalDamageDealtToChampions / match.players[match.lookupPlayer].stats.totalDamageDealtToChampions * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.players[match.lookupPlayer].stats.physicalDamageDealtToChampions / match.players[match.lookupPlayer].stats.totalDamageDealtToChampions * 100) + '%' }">
							<img class="damage magic" src="img/damage_magic.png" 
								ng-attr-title="Magic: {{ match.players[match.lookupPlayer].stats.magicDamageDealtToChampions }} ({{ match.players[match.lookupPlayer].stats.magicDamageDealtToChampions / match.players[match.lookupPlayer].stats.totalDamageDealtToChampions * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.players[match.lookupPlayer].stats.magicDamageDealtToChampions / match.players[match.lookupPlayer].stats.totalDamageDealtToChampions * 100) + '%' }">
							<img class="damage true" src="img/damage_true.png"
								ng-attr-title="True: {{ match.players[match.lookupPlayer].stats.trueDamageDealtToChampions }} ({{ match.players[match.lookupPlayer].stats.trueDamageDealtToChampions / match.players[match.lookupPlayer].stats.totalDamageDealtToChampions * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.players[match.lookupPlayer].stats.trueDamageDealtToChampions / match.players[match.lookupPlayer].stats.totalDamageDealtToChampions * 100) + '%' }">
						</div>
						<div class="damageGraph taken"  ng-mouseover="showHoverText3 = false" ng-mouseout="showHoverText3 = true" ng-init="showHoverText3 = true">
							<div class="textOverlay">
								Damage taken - {{ match.players[match.lookupPlayer].stats.totalDamageTaken }} {{ showHoverText3 ? '(hover for details)' : '' }}
							</div>
							<img class="damage physical" src="img/damage_physical.png" 
								ng-attr-title="Physical: {{ match.players[match.lookupPlayer].stats.physicalDamageTaken }} ({{ match.players[match.lookupPlayer].stats.physicalDamageTaken / match.players[match.lookupPlayer].stats.totalDamageTaken * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.players[match.lookupPlayer].stats.physicalDamageTaken / match.players[match.lookupPlayer].stats.totalDamageTaken * 100) + '%' }">
							<img class="damage magic" src="img/damage_magic.png" 
								ng-attr-title="Magic: {{ match.players[match.lookupPlayer].stats.magicDamageTaken }} ({{ match.players[match.lookupPlayer].stats.magicDamageTaken / match.players[match.lookupPlayer].stats.totalDamageTaken * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.players[match.lookupPlayer].stats.magicDamageTaken / match.players[match.lookupPlayer].stats.totalDamageTaken * 100) + '%' }">
							<img class="damage true" src="img/damage_true.png" 
								ng-attr-title="True: {{ match.players[match.lookupPlayer].stats.trueDamageTaken }} ({{ match.players[match.lookupPlayer].stats.trueDamageTaken / match.players[match.lookupPlayer].stats.totalDamageTaken * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.players[match.lookupPlayer].stats.trueDamageTaken / match.players[match.lookupPlayer].stats.totalDamageTaken * 100) + '%' }">
						</div>
						
						<div class="expandColumn left">
							<div class="stats wardsPlaced">Wards placed: {{ match.players[match.lookupPlayer].stats.wardsPlaced }}</div>
							<div class="stats wardsPlaced">Wards killed: {{ match.players[match.lookupPlayer].stats.wardsKilled }}</div>
							<div class="stats cspm">CS/min: {{ (match.players[match.lookupPlayer].stats.minionsKilled + match.players[match.lookupPlayer].stats.neutralMinionsKilled) / match.matchDuration * 60 | number:1 }} </div>
						</div>
						<div class="expandColumn right">
							<div class="stats killingSpreee">Largest killing spree: {{ match.players[match.lookupPlayer].stats.largestKillingSpree }}</div>
							<div class="stats jungle">Neutral minions (own|enemy): {{ match.players[match.lookupPlayer].stats.neutralMinionsKilledTeamJungle }} | {{ match.players[match.lookupPlayer].stats.neutralMinionsKilledEnemyJungle }}</div>
							<div class="stats gpm">Gold/min: {{ match.players[match.lookupPlayer].stats.goldEarned / match.matchDuration * 60 | number:1 }}</div>
						</div>
					</div>
				</div>
			</div>			
		</li>
	</ul>
	<button class="prevButton" ng-disabled="startIndex <= 0" ng-click="lookupRankedWithOffset(summoner.id, startIndex - 15)">Previous</button>
	<button class="nextButton" ng-disabled="startIndex + 15 >= totalMatches" ng-click="lookupRankedWithOffset(summoner.id, startIndex + 15)">Next</button>
	
	<button class="loadAllRanked" ng-disabled="disableImportButton" ng-click="importAllRanked(summoner.id)">Import all ranked matches{{ working }}</button>
</div>
