<div id="matches" ng-show="showRankedResults">
	<h2>Ranked Matches</h2>
	<ul id="ranked-history">
		<li ng-repeat="match in rankedData track by $index">
			<div class="match id_{{match.matchId}}" ng-class="match.participants[0].stats.winner ? 'win' : 'loss'">
				<div class="topRow">
					<div class="queue box">{{ match.queueType | queueFilter }}</div>
					<div class="time box">{{ match.matchCreation | date:'MM/dd/yy h:mm a' }}</div>
					<div class="game-win box" ng-show="match.participants[0].stats.winner">Win</div>
					<div class="game-win box" ng-hide="match.participants[0].stats.winner">Loss</div>
				</div>
	
				<div class="midRow">
					<div class="championImages">
						<img class="championImage" alt="{{ match.champion == null ? 'champion' : match.champion.name }}"
							ng-src="{{ match.champion == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + match.champion.key + '.png' }}">
						<div class="championLevel">{{ match.participants[0].stats.champLevel }}</div>
						<div class="summonerSpells">
							<img class="summonerSpell spell1" alt="{{ match.sumSpell1 == null ? 'summoner spell 1' : match.summSpell1.name }}"
								ng-src="{{ match.sumSpell1 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + match.sumSpell1.image.full }}">
							<br>
							<img class="summonerSpell spell2" alt="{{ match.sumSpell2 == null ? 'summoner spell 2' : match.summSpell2.name }}"
								ng-src="{{ match.sumSpell2 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + match.sumSpell2.image.full }}">
						</div>
					</div>
	
					<div class="rightStatsBox">
						<div class="scorePanel">
							<div class="score box">{{ match.participants[0].stats.kills }}/{{ match.participants[0].stats.deaths }}/{{ match.participants[0].stats.assists }}</div>
							<div class="kda box">(KDA: {{ (match.participants[0].stats.kills + match.participants[0].stats.assists) / match.participants[0].stats.deaths | number:2 }})</div>
						</div>
						<div class="gold box">Gold: 
							{{ (match.participants[0].stats.goldEarned / 1000) | number:0}}.{{ (match.participants[0].stats.timePlayed % 1000) / 100 | number:0}}k</div>
						<div class="cs box">CS: {{ match.participants[0].stats.minionsKilled + match.participants[0].stats.neutralMinionsKilled }}</div>
						<div class="matchLength box">Game Length: 
							{{ match.matchDuration / 60 | number:0}}:{{ (match.matchDuration % 60) | numberFixedLen:2}}</div>
						<div class="multikill box">{{ match.participants[0].stats.largestMultiKill | multikill }}</div>
						<div class="firstBlood box">{{ match.participants[0].stats.firstBloodKill ? 'First Blood' : '' }}</div>
					</div>
				</div>
				
				<div class="bottomRow">
					<div class="items">
						<img class="item item0" alt="{{ (match.participants[0].stats.item0 === 0 || match.participants[0].stats == null) ? 'item' : 'item ' +  match.participants[0].stats.item0 }}" 
							ng-src="{{ (match.participants[0].stats.item0 === 0 || match.participants[0].stats == null) ? 'img/item_0.png' : 'http://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + match.participants[0].stats.item0 + '.png' }}">
						<img class="item item1" alt="{{ (match.participants[0].stats.item1 === 0 || match.participants[0].stats == null) ? 'item' : 'item ' +  match.participants[0].stats.item1 }}"
							ng-src="{{ (match.participants[0].stats.item1 === 0 || match.participants[0].stats == null) ? 'img/item_0.png' : 'http://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + match.participants[0].stats.item1 + '.png' }}">
						<img class="item item2" alt="{{ (match.participants[0].stats.item2 === 0 || match.participants[0].stats == null) ? 'item' : 'item ' +  match.participants[0].stats.item2 }}"
							ng-src="{{ (match.participants[0].stats.item2 === 0 || match.participants[0].stats == null) ? 'img/item_0.png' : 'http://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + match.participants[0].stats.item2 + '.png' }}">
						<img class="item item3" alt="{{ (match.participants[0].stats.item3 === 0 || match.participants[0].stats == null) ? 'item' : 'item ' +  match.participants[0].stats.item3 }}"
							ng-src="{{ (match.participants[0].stats.item3 === 0 || match.participants[0].stats == null) ? 'img/item_0.png' : 'http://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + match.participants[0].stats.item3 + '.png' }}">
						<img class="item item4" alt="{{ (match.participants[0].stats.item4 === 0 || match.participants[0].stats == null) ? 'item' : 'item ' +  match.participants[0].stats.item4 }}"
							ng-src="{{ (match.participants[0].stats.item4 === 0 || match.participants[0].stats == null) ? 'img/item_0.png' : 'http://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + match.participants[0].stats.item4 + '.png' }}">
						<img class="item item5" alt="{{ (match.participants[0].stats.item5 === 0 || match.participants[0].stats == null) ? 'item' : 'item ' +  match.participants[0].stats.item5 }}"
							ng-src="{{ (match.participants[0].stats.item5 === 0 || match.participants[0].stats == null) ? 'img/item_0.png' : 'http://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + match.participants[0].stats.item5 + '.png' }}">
						<img class="item item6" alt="{{ (match.participants[0].stats.item6 === 0 || match.participants[0].stats == null) ? 'item' : 'item ' +  match.participants[0].stats.item6 }}"
							ng-src="{{ (match.participants[0].stats.item6 === 0 || match.participants[0].stats == null) ? 'img/item_0.png' : 'http://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + match.participants[0].stats.item6 + '.png' }}">
					</div>
					
					<div class="expandMatchButton">
						<button class="expandButton" ng-click="expandMatch(match, summoner)">Details</button>
					</div>
				</div>
				
				<div class="expandMatch ranked" ng-class="match.participants[0].stats.winner ? 'win' : 'loss'" ng-show="match.showExpand">
					<div class="expandTitle">Match Details</div>
						<div class="rankedTeam blue">
							<div class="teamTitle">
								Blue Team ({{ matchPlayerBlue[0].details.stats.winner ? "WIN" : "LOSS" }})
							</div>
							<div class="tableHeadings">
								<div class="playerStat playerLevel">Lvl</div>
								<div class="playerStat playerChampionImage"></div>
								<div class="playerStat playerSummoners"></div>
								<div class="playerStat playerName">Summoner Name</div>
								<div class="playerStat playerScore">Score</div>
								<div class="playerStat playerItems">Items</div>
								<div class="playerStat playerGold">Gold</div>
								<div class="playerStat playerCS">CS</div>
							</div>
							<ul class="expandPlayersBlue">
								<li ng-repeat="player in matchPlayerBlue track by player.summoner.id">
									<div class="playerInfo">
										<div class="playerStat playerLevel">{{ player.details.stats.champLevel }}</div>
										<img class="playerStat playerChampionImage" alt="{{ (player == null || player.champ == null) ? 'champion' : player.champ.name }}"
											ng-src="{{ (player == null || player.champ == null) ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + player.champ.key + '.png' }}">
										<div class="playerStats playerSummoners">
											<img class="playerSummoner spell1" alt="{{ player.spell1 == null ? 'summoner spell 1' : player.spell1.name }}"
												ng-src="{{ player.spell1 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + player.spell1.image.full }}">
												<img class="playerSummoner spell2" alt="{{ player.spell2 == null ? 'summoner spell 2' : player.spell2.name }}"
												ng-src="{{ player.spell2 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + player.spell2.image.full }}">
										</div>
										<a class="playerStat playerName" ng-href="#{{ player.summoner.id }}">{{ player.summoner.name }}</a>
										<div class="playerStat playerScore">{{ player.details.stats.kills }}/{{ player.details.stats.deaths }}/{{ player.details.stats.assists }}</div>
										<div class="playerStat playerItems">
											<img class="playerItem item0" ng-src="{{ player.details.stats.item0 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item0 + '.png' }}">
											<img class="playerItem item1" ng-src="{{ player.details.stats.item1 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item1 + '.png' }}">
											<img class="playerItem item2" ng-src="{{ player.details.stats.item2 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item2 + '.png' }}">
											<img class="playerItem item3" ng-src="{{ player.details.stats.item3 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item3 + '.png' }}">
											<img class="playerItem item4" ng-src="{{ player.details.stats.item4 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item4 + '.png' }}">
											<img class="playerItem item5" ng-src="{{ player.details.stats.item5 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item5 + '.png' }}">
											<img class="playerItem item6" ng-src="{{ player.details.stats.item6 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item6 + '.png' }}">
										</div>
										<div class="playerStat playerGold">{{ player.details.stats.goldEarned / 1000 | number:1 }}k</div>
										<div class="playerStat playerCS">{{ player.details.stats.minionsKilled + player.details.stats.neutralMinionsKilled }}</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="rankedTeam red">
							<div class="teamTitle">
								Purple Team ({{ matchPlayerRed[0].details.stats.winner ? "WIN" : "LOSS" }})
							</div>
							<div class="tableHeadings">
								<div class="playerStat playerLevel">Lvl</div>
								<div class="playerStat playerChampionImage"></div>
								<div class="playerStat playerSummoners"></div>
								<div class="playerStat playerName">Summoner Name</div>
								<div class="playerStat playerScore">Score</div>
								<div class="playerStat playerItems">Items</div>
								<div class="playerStat playerGold">Gold</div>
								<div class="playerStat playerCS">CS</div>
							</div>
							
							<ul class="expandPlayersRed">
								<li ng-repeat="player in matchPlayerRed track by player.summoner.id">
									<div class="playerInfo">
										<div class="playerStat playerLevel">{{ player.details.stats.champLevel }}</div>
										<img class="playerStat playerChampionImage" alt="{{ (player == null || player.champ == null) ? 'champion' : player.champ.name }}"
											ng-src="{{ (player == null || player.champ == null) ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + player.champ.key + '.png' }}">
										<div class="playerStats playerSummoners">
											<img class="playerSummoner spell1" alt="{{ player.spell1 == null ? 'summoner spell 1' : player.spell1.name }}"
												ng-src="{{ player.spell1 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + player.spell1.image.full }}">
												<img class="playerSummoner spell2" alt="{{ player.spell2 == null ? 'summoner spell 2' : player.spell2.name }}"
												ng-src="{{ player.spell2 == null ? '' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/spell/' + player.spell2.image.full }}">
										</div>
										<a class="playerStat playerName" ng-href="#{{ player.summoner.id }}">{{ player.summoner.name }}</a>
										<div class="playerStat playerScore">{{ player.details.stats.kills }}/{{ player.details.stats.deaths }}/{{ player.details.stats.assists }}</div>
										<div class="playerStat playerItems">
											<img class="playerItem item0" ng-src="{{ player.details.stats.item0 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item0 + '.png' }}">
											<img class="playerItem item1" ng-src="{{ player.details.stats.item1 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item1 + '.png' }}">
											<img class="playerItem item2" ng-src="{{ player.details.stats.item2 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item2 + '.png' }}">
											<img class="playerItem item3" ng-src="{{ player.details.stats.item3 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item3 + '.png' }}">
											<img class="playerItem item4" ng-src="{{ player.details.stats.item4 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item4 + '.png' }}">
											<img class="playerItem item5" ng-src="{{ player.details.stats.item5 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item5 + '.png' }}">
											<img class="playerItem item6" ng-src="{{ player.details.stats.item6 == 0 ? 'img/item_0.png' : 'https://ddragon.leagueoflegends.com/cdn/' + version + '/img/item/' + player.details.stats.item6 + '.png' }}">
										</div>
										<div class="playerStat playerGold">{{ player.details.stats.goldEarned / 1000 | number:1 }}k</div>
										<div class="playerStat playerCS">{{ player.details.stats.minionsKilled + player.details.stats.neutralMinionsKilled }}</div>
									</div>
								</li>
							</ul>
						</div>
					
					<div class="moreMatchStats">
						<div class="damageGraph total" ng-mouseover="showHoverText1 = false" ng-mouseout="showHoverText1 = true" ng-init="showHoverText1 = true">
							<div class="textOverlay">
								Damage dealt - {{ match.participants[0].stats.totalDamageDealt }} {{ showHoverText1 ? '(hover for details)' : '' }}
							</div>
							<img class="damage physical" src="img/damage_physical.png" 
								ng-attr-title="Physical: {{ match.participants[0].stats.physicalDamageDealt }} ({{ match.participants[0].stats.physicalDamageDealt / match.participants[0].stats.totalDamageDealt * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.participants[0].stats.physicalDamageDealt / match.participants[0].stats.totalDamageDealt * 100) + '%' }">
							<img class="damage magic" src="img/damage_magic.png" 
								ng-attr-title="Magic: {{ match.participants[0].stats.magicDamageDealt }} ({{ match.participants[0].stats.magicDamageDealt / match.participants[0].stats.totalDamageDealt * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.participants[0].stats.magicDamageDealt / match.participants[0].stats.totalDamageDealt * 100) + '%' }">
							<img class="damage true" src="img/damage_true.png" 
								ng-attr-title="True: {{ match.participants[0].stats.trueDamageDealt }} ({{ match.participants[0].stats.trueDamageDealt / match.participants[0].stats.totalDamageDealt * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.participants[0].stats.trueDamageDealt / match.participants[0].stats.totalDamageDealt * 100) + '%' }">
						</div>
						<div class="damageGraph champs" ng-mouseover="showHoverText2 = false" ng-mouseout="showHoverText2 = true" ng-init="showHoverText2 = true">
							<div class="textOverlay">
								Damage dealt to champions - {{ match.participants[0].stats.totalDamageDealtToChampions }} {{ showHoverText2 ? '(hover for details)' : '' }}
							</div>
							<img class="damage physical" src="img/damage_physical.png" 
								ng-attr-title="Physical: {{ match.participants[0].stats.physicalDamageDealtToChampions }} ({{ match.participants[0].stats.physicalDamageDealtToChampions / match.participants[0].stats.totalDamageDealtToChampions * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.participants[0].stats.physicalDamageDealtToChampions / match.participants[0].stats.totalDamageDealtToChampions * 100) + '%' }">
							<img class="damage magic" src="img/damage_magic.png" 
								ng-attr-title="Magic: {{ match.participants[0].stats.magicDamageDealtToChampions }} ({{ match.participants[0].stats.magicDamageDealtToChampions / match.participants[0].stats.totalDamageDealtToChampions * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.participants[0].stats.magicDamageDealtToChampions / match.participants[0].stats.totalDamageDealtToChampions * 100) + '%' }">
							<img class="damage true" src="img/damage_true.png"
								ng-attr-title="True: {{ match.participants[0].stats.trueDamageDealtToChampions }} ({{ match.participants[0].stats.trueDamageDealtToChampions / match.participants[0].stats.totalDamageDealtToChampions * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.participants[0].stats.trueDamageDealtToChampions / match.participants[0].stats.totalDamageDealtToChampions * 100) + '%' }">
						</div>
						<div class="damageGraph taken"  ng-mouseover="showHoverText3 = false" ng-mouseout="showHoverText3 = true" ng-init="showHoverText3 = true">
							<div class="textOverlay">
								Damage taken - {{ match.participants[0].stats.totalDamageTaken }} {{ showHoverText3 ? '(hover for details)' : '' }}
							</div>
							<img class="damage physical" src="img/damage_physical.png" 
								ng-attr-title="Physical: {{ match.participants[0].stats.physicalDamageTaken }} ({{ match.participants[0].stats.physicalDamageTaken / match.participants[0].stats.totalDamageTaken * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.participants[0].stats.physicalDamageTaken / match.participants[0].stats.totalDamageTaken * 100) + '%' }">
							<img class="damage magic" src="img/damage_magic.png" 
								ng-attr-title="Magic: {{ match.participants[0].stats.magicDamageTaken }} ({{ match.participants[0].stats.magicDamageTaken / match.participants[0].stats.totalDamageTaken * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.participants[0].stats.magicDamageTaken / match.participants[0].stats.totalDamageTaken * 100) + '%' }">
							<img class="damage true" src="img/damage_true.png" 
								ng-attr-title="True: {{ match.participants[0].stats.trueDamageTaken }} ({{ match.participants[0].stats.trueDamageTaken / match.participants[0].stats.totalDamageTaken * 100 | number:1 }}%)"
								ng-style="{ 'width': (match.participants[0].stats.trueDamageTaken / match.participants[0].stats.totalDamageTaken * 100) + '%' }">
						</div>
						
						<div class="expandColumn left">
							<div class="stats wardsPlaced">Wards placed: {{ match.participants[0].stats.wardsPlaced }}</div>
							<div class="stats wardsPlaced">Wards killed: {{ match.participants[0].stats.wardsKilled }}</div>
							<div class="stats cspm">CS/min: {{ (match.participants[0].stats.minionsKilled + match.participants[0].stats.neutralMinionsKilled) / match.matchDuration * 60 | number:1 }} </div>
						</div>
						<div class="expandColumn right">
							<div class="stats killingSpreee">Largest killing spree: {{ match.participants[0].stats.largestKillingSpree }}</div>
							<div class="stats jungle">Neutral minions (own|enemy): {{ match.participants[0].stats.neutralMinionsKilledTeamJungle }} | {{ match.participants[0].stats.neutralMinionsKilledEnemyJungle }}</div>
							<div class="stats gpm">Gold/min: {{ match.participants[0].stats.goldEarned / match.matchDuration * 60 | number:1 }}</div>
						</div>
						
					</div>
				</div>
			</div>			
		</li>
	</ul>
	<button class="loadAllRanked" ng-disabled="disableImportButton" ng-click="importAllRanked(summoner.id)">Import all ranked matches{{ working }}</button>
</div>
