body {
	background: #e9eaed;
}

#title {
	text-align: center;
}

#lookupSummoner {
	text-align: center;
}

a {
	color: #000000;
}

.rank {
	border: 2px solid #555555;
	border-radius: 5px;
	display: inline-block;
	padding: 1px;
	text-transform: uppercase;
}

.rank_bronze {
	background-color: #B87333;
}

.rank_silver {
	background-color: #C0C0C0;
}

.rank_gold {
	background-color: #DAA520;
}

.rank_platinum {
	background-color: #33AABB;
}

.rank_diamond {
	background-color: #33AAFF;
}

.rank_masters {
	background-color: #88BBBB;
}

.rank_challenger {
	background-color: #DDCC33;
}