#matches .match {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	padding: 10px;
	width: 400px;
	padding: 10px;
}

#matches ul {
	list-style-type: none;
	border: 0;
	padding: 0;
}

#matches .win {
	background: rgba(153, 255, 153, 0.9);
}

#matches .loss {
	background: rgba(255, 153, 153, 0.9);
}

#matches .match .topRow {
	margin-bottom: 5px;
}

#matches .match .box {
	display: inline-block;
	padding: 5px;
	font-size: 0.8em;
}

#matches .match .queue {
	font-size: 1.5em;
	font-weight: bold;
	width: 220px;
}

#matches .match .time {
	font-size: 0.8em;
	color: #999977;
}

#matches .match .game-win {
	color: #666666;
	font-style: italic;
	margin-left: 10px;
}

#matches .match .championImages {
	display: inline-block;
}

#matches .match .championImage {
	float: left;
	height: 100px;
	width: 100px;
	height: 100px;
}

#matches .match .summonerSpells {
	float: left;
	position: relative;
	left: -40px;
	top: 3px;
}

#matches .match .summonerSpell {
	height: 30px;
	width: 30px;
	border: 4px;
	border-style: outset;
	border-color: rgba(150, 150, 100, 0.5);
	opacity: 0.75;
}

#matches .match .summonerSpell.spell2 {
	margin-top: 15px;
}

#matches .match .championLevel {
	margin: 0;
	float: left;
	margin-left: -95px;
	color: white;
	font-size: 1.7em;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px
		1px 0 black;
}

#matches .match .rightStatsBox {
	display: inline-block;
	width: 250px;
	position: relative;
	left: -15px;
	vertical-align: top;
	text-align: center;
}

#matches .match .multikill {
	color: #880000;
	font-weight: bold;
}

#matches .match .firstBlood {
	color: #880000;
	font-weight: bold;
}

#matches .match .score {
	display: inline-block;
	font-size: 2.4em;
	font-weight: bold;
	text-align: center;
}

#matches .match .kda {
	display: inline-block;
	font-size: 1em;
	color: #888888;
}

#matches .match .bottomRow {
	display: inline-block;
	vertical-align: top;
}

#matches .match .items {
	display: inline-block;
	vertical-align: top;
}

#matches .match .items .item {
	height: 40px;
	width: 40px;
	padding: 0;
	margin: 0;
}

#matches .match .expandMatchButton {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 15px;
}

#matches .match .expandMatchButton .expandButton {
	height: 30px;
	width: 70px;
	background-color: #ffffbb;
	border-radius: 5px;
	border: 2px solid #cccc88;
}

#matches .match .expandMatch {
	border-radius: 5px;
	border: 2px solid #555555;
	padding: 5px;
	margin-top: 10px;
}

#matches .match .expandMatch.ranked {
	width: 500px;
	position: relative;
	left: -50px;
}

#matches .match .expandMatch .expandTitle {
	text-align: center;
	font-size: 1.1em;
	text-transform: uppercase;
}

#matches .match .expandMatch .expandPlayers {
	text-align: center;
}

#matches .match .expandMatch .team {
	display: inline-block;
	padding: 1%;
	width: 45%;
}

#matches .match .expandMatch .teamTitle {
	font-style: italic;
	margin-bottom: 4px;
	background: rgba(0, 0, 0, 0.2);
}

#matches .match .expandMatch .team.red {
	text-align: left;
}

#matches .match .expandMatch .team.blue {
	text-align: right;
}

#matches .match .expandMatch .red {
	background: rgba(128, 0, 192, 0.6);
}

#matches .match .expandMatch .blue {
	background: rgba(0, 64, 192, 0.6);
}

#matches .match .expandMatch .playerChampionImage {
	height: 20px;
	width: 20px;
}

#matches .match .expandMatch .team .playerChampionImage {
	position: relative;
	top: 3px;
}

#matches .match .expandMatch ul {
	overflow: hidden;
}

#matches .match .expandMatch .rankedTeam {
	padding: 1%;
	text-align: left;
}

#matches .match .expandMatch .rankedTeam .playerInfo {
	height: 20px;
	margin: 1px;
}

#matches .match .expandMatch .rankedTeam .playerStat {
	display: inline-block;
	font-size: 0.85em;
}

#matches .match .expandMatch .rankedTeam .playerName {
	width: 120px;
}

#matches .match .expandMatch .rankedTeam .playerScore {
	width: 45px;
	text-align: center;
}

#matches .match .expandMatch .rankedTeam .playerItem {
	margin: -1px; display : inline-block;
	height: 20px;
	width: 20px;
	display: inline-block;
}

#matches .match .expandMatch .rankedTeam .playerGold {
	width: 35px;
	text-align: right;
}

#matches .match .expandMatch .rankedTeam .playerCS {
	width: 25px;
	text-align: right;
}

#matches .match .expandMatch .moreMatchStats {
	margin-top: 10px;
	display: inline-block;
}

#matches .match .expandMatch .damageGraph .damage {
	height: 20px;
	padding: 0;
	border: 0;
	margin: 0;
	opacity: 0.5;
	float: left;
	margin-top: -16px;
}

#matches .match .expandMatch .damageGraph {
	background: url("../img/damage_background.png");
	height: 20px;
	width: 98%;
	position: relative;
	float: left;
	border: 2px;
	border-radius: 5px;
	border-style: ridge;
	border-color: #888888;
	text-align: center;
	margin: 1px;
}

#matches .match .expandMatch .damageGraph .textOverlay {
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 0.7em;
	margin-top: 4px;
}

#matches .match .expandMatch .expandColumn {
	float: left;
	margin: 1px;
	width: 48%;
	margin-top: 5px;
}

#matches .match .expandMatch .stats {
	margin: 2px;
	font-size: 0.8em;
}