#matches .match {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	padding: 10px;
	width: 400px;
	padding: 10px;
}

#matches ul {
	list-style-type: none;
	border: 0;
	padding: 0;
}

#matches .win {
	background: rgba(153, 255, 153, 0.9);
}

#matches .loss {
	background: rgba(255, 153, 153, 0.9);
}

#matches .match .topRow {
	margin-bottom: 5px;
}

#matches .match .box {
	display: inline-block;
	padding: 5px;
	font-size: 0.8em;
}

#matches .match .queue {
	font-size: 1.5em;
	font-weight: bold;
	width: 220px;
}

#matches .match .time {
	font-size: 0.8em;
	color: #999977;
}

#matches .match .game-win {
	color: #666666;
	font-style: italic;
	margin-left: 10px;
}

#matches .match .championImages {
	display: inline-block;
}

#matches .match .championImage {
	display: inline-block;
	height: 100px;
	width: 100px;
}

#matches .match .summonerSpells {
	display: inline-block;
	position: relative;
	left: -41px;
	top: -1px;
}

#matches .match .summonerSpell {
	height: 30px;
	width: 30px;
	border: 3px;
	border-style: groove;
	border-color: rgba(150, 150, 100, 0.5);
}

#matches .match .rightStatsBox {
	display: inline-block;
	width: 250px;
	position: relative;
	left: -15px;
	vertical-align: top;
}

#matches .match .score {
	font-size: 2.4em;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#matches .match .bottomRow {
	display: inline-block;
	vertical-align: top;
}

#matches .match .items {
	display: inline-block;
	vertical-align: top;
}

#matches .match .items .item {
	height: 40px;
	width: 40px;
	padding: 0;
	margin: 0;
}

#matches .match .expandMatchButton {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 15px;
}

#matches .match .expandMatchButton .expandButton {
	height: 30px;
	width: 70px;
	background-color: #ffffbb;
	border-radius: 5px;
	border: 2px solid #cccc88;
}

#matches .match .expandMatch {
	border-radius: 5px;
	border: 2px solid #555555;
	padding: 5px;
	margin-top: 10px;
}

#matches .match .expandMatch .expandTitle {
	text-align: center;
	font-size: 1.1em;
	text-transform: uppercase;
}

#matches .match .expandMatch .expandPlayers {
	text-align: center;
}

#matches .match .expandMatch .team {
	display: inline-block;
	padding: 1%;
	width: 45%;
}

#matches .match .expandMatch .teamTitle {
	font-style: italic;
	margin-bottom: 4px;
	background: rgba(0, 0, 0, 0.2);
}

#matches .match .expandMatch .red {
	background: rgba(128, 0, 192, 0.6);
	text-align: left;
}

#matches .match .expandMatch .blue {
	background: rgba(0, 64, 192, 0.6);
	text-align: right;
}

#matches .match .expandMatch .playerChampionImage {
	height: 20px;
	width: 20px;
	position: relative;
	top: 3px;
}