#stats tr {
	margin: 10px;
}

#stats table {
	margin: 10px;
	font-size: 0.9em;
}

#stats tr,td {
	border: none;
}

#stats td {
	padding-left: 2px;
	padding-right: 2px;
}

#stats td:nth-child(even) {
	background: #EECCCC;
}

#stats td:nth-child(odd) {
	background: #CCCCEE;
}

#stats #totals > td {
	background: #AAAAAA;
}

#stats .headings {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
	height: 25px;
}

#stats .champion {
	width: 120px;
	text-align: left;
}

#stats .champion div {
	display: inline-block;
	font-weight: bold;
	position: relative;
	bottom: 4px;
}

#stats .champion img {
	display: inline-block;
	height: 20px;
	width: 20px;
}

#stats .damageGraph {
	background: url("../img/damage_background.png");
	height: 15px;
	width: 200px;
	position: relative;
	float: left;
	border: 2px;
	border-radius: 5px;
	border-style: ridge;
	border-color: #888888;
	text-align: center;
	margin: 1px;
	z-index: 2;
}

#stats .damageGraph .damage {
	height: 17px;
	padding: 0;
	border: 0;
	margin: 0;
	opacity: 0.5;
	float: left;
	margin-top: -15px;
	z-index: 1;
}

#stats .damageGraph .textOverlay {
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 0.7em;
	margin-top: 3px;
	margin-left: 2px;
	font-weight: bold;
}
