#summaryData {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 400px;
	background-color: #bbbbff
}

#summaryData #summonerIcon {
	height: 80px;
	width: 80px;
	display: inline-block;
}

#summaryData #summonerData {
	display: inline-block;
	vertical-align: top;
}

#summaryData #summonerName {
	font-weight: bold;
	font-size: 2em;
	text-decoration: none;
}

#summaryData #summonerLevel {
	font-style: italic;
	color: #666666;
	margin-left: 20px;
}

#summaryData #summonerRank {
	margin-top: 3px;
	margin-left: 20px;
	font-size: 0.7em;
}